.background {
  background-color: aqua;
  margin: 0;
}

#Formato_Correo {
  display: none;
}

#Mensaje_Flotante {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-size: large;
  position: fixed;
  left: 1rem;
  margin-top: 1rem;
  padding: 10px;
  border-radius: 5px;
  display: none;
}

#Boton_generar_solicitud {
  text-align: center;
  margin-top: 1.4rem;
  margin-bottom: 1.5rem;
}

#formulario button {
  margin-top: 0;
}

#Detalles_Prestamo {
  display: none;
  padding-left: 2vw;
  padding-right: 2vw;

  border: black solid;
  margin: top 2vw;
}

#Mostrar_Tabla {
  margin: auto;
  text-align: center;
}

#Mostrar_Tabla table {
  margin-left: 1rem;
  margin-right: 1rem;
}

#Contenedor {
  margin-top: 1rem;
  padding-top: 1%;
  background-color: white;
  border-radius: 10px;
  padding-bottom: 1rem;
}

#Enviar_solicitud {
  background-color: #44a848;
  border: none;
}

#Boton {
  background-color: #44a848;
  border: none;
}

header {
  background-color: #13557e00;
}

#Logo {
  padding: 1rem;
  background-color: white;
  background-color: white;
  width: 15rem;
}

#Body {
  font-family: "Sofia Sans Condensed", sans-serif;
  background-image: linear-gradient(to bottom, rgba(83, 120, 201, 0.301), rgba(0, 0, 255, 0.26)),
    url("../img/background.jpg");

  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
  margin-bottom: 5rem;
}
h1 {
  border-radius: 3px;
  background-color: #148517;
  color: white;
  margin: 1vwS;
  text-align: center;
  font-weight: bold;
  font-family: "Sofia Sans Condensed", sans-serif;
}

h2 {
  margin-bottom: 2rem;
  border-radius: 3px;
  color: white;
  background-color: #16a81b;
  padding-left: 1vw;
}

#Logo {
  border-radius: 10px;
  margin-left: 1rem;
  margin-top: 1rem;
}

label {
  font-size: large;
  font-weight: bold;
}

.table-wrapper {
  width: 100%;
  max-height: 450px;
  overflow: auto;
  overflow-x: auto;
}

#Mostrar_Tabla {
  width: 100%;
  overflow: auto;
  overflow-x: auto;
  overflow-y: auto;
  max-height: 450px;
}

#tipo {
  display: none;
}

.Tipo_detalle {
  display: none;
}

#Enviar_Recaptcha {
  display: none;
  margin-top: 2rem;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
}

#miCaptcha {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.enviar {
  margin-top: 1rem;
}

.btn {
  margin-top: 1rem;
}

@media (max-width: 1349px) {
  #Body {
    background-size: 150%;
  }
  header {
    height: 6rem;
  }
  #Logo {
    width: 10rem;
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;
    margin-left: 0.5rem;
  }
}

/* DISEÑO PARA DISPOSITIVOS MÓVILES   */
@media (max-width: 900px) {
  #Body {
    background-size: 200%;
  }
}

@media (max-width: 699px) {
  #Contenedor {
    margin-top: 0;
  }

  #Body {
    background-image: none;
    background-color: white;
    margin: 0%;
  }

  header {
    height: 5rem;
    background-image: linear-gradient(to bottom, rgba(83, 120, 201, 0.301), rgba(0, 0, 255, 0.26)),
      url("../img/background.jpg");

    background-repeat: no-repeat;
    background-size: 100%;
    right: 0;
    background-position: top;
    padding-bottom: 4.5rem;
  }
  #Logo {
    background-color: white;
    padding: 3px;
    width: 8rem;
    vertical-align: middle;
    margin-left: 0.5rem;
  }

  #Detalles_Prestamo {
    padding: 0;
    margin: 0;
    border: black solid;
    margin: top 2vw;
  }

  #Detalles_Prestamo p {
    margin-left: 1rem;
  }

  #Detalles_Prestamo tr th {
    text-align: center;
    padding: 0;
  }

  .table-wrapper th {
    vertical-align: middle;
    position: sticky;
    top: 0;
    height: 45px;
    background-color: #aeb1b3;
  }

  .table-wrapper {
    margin: auto;
    width: 95%;
    max-height: 255px;
    overflow: auto;
    overflow-x: auto;
  }

  h2 {
    margin-bottom: 1rem;
  }

  #Mostrar_Tabla {
    width: 100%;
    overflow: auto;
    overflow-x: auto;
    overflow-y: auto;
    max-height: 250px;
  }
  #Mostrar_Tabla table {
    margin-left: 0;
    margin-right: 0;
  }

  #formulario table {
    margin-right: 1rem;
  }

  #Mostrar_Tabla tr th {
    text-align: center;
    padding: 0;
  }

  #Mostrar_Tabla th {
    position: sticky;
    top: 0;
    height: 45px;
    vertical-align: middle;
    background-color: #aeb1b3;
  }

  #Boton_generar_solicitud button {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }

  .enviar {
    margin-top: 0;
  }

  #Captcha {
    margin-top: 1.45rem;
  }

  footer {
    margin: 0;
    height: 5rem;
    background-image: linear-gradient(to bottom, rgba(83, 120, 201, 0.301), rgba(0, 0, 255, 0.26)),
      url("../img/background.jpg");

    background-repeat: no-repeat;
    background-size: 100%;
    right: 0;
    background-position: top;
    padding-bottom: 4.5rem;
  }
}

/*Modificando*/
.container-sm {
  padding-bottom: 3vw;
}

.container-form {
  margin-left: 2vw;
  padding-right: 2vw;
}

.info {
  margin-left: 2vw;
  padding-right: 2vw;
}

.table-amortizacion {
  margin-left: 2vw;
  padding-right: 2vw;
}

.detalle_prestamo {
  margin-bottom: 2vw;
}
